<div class="container-fluid" id="contact">

    <div class="row">
        <div class="col-sm-12 bg-info text-dark font-weight-bolder text-uppercase text-center">
            <h2>I'm old fashioned with my cell phone. I like that human contact and I think it's important</h2>
        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-2">
            
            <div class="tooltipped" data-position="right" data-tooltip="Facebook">
                <a href="https://www.facebook.com/profile.php?id=100005272362325" target="_blank">
                    <img class="links" src="../../../assets/Images/Fb.png" alt="Facebook Logo">
                </a>
            </div>

            <div class="tooltipped" data-position="right" data-tooltip="Twitter">
                <a href="https://twitter.com/prasanth15sp" target="_blank">
                    <img class="links" src="../../../assets/Images/Twitter.png" alt="Twitter Logo">
                </a>
            </div>

            <div class="tooltipped" data-position="right" data-tooltip="Email">
                <a href="mailto:prasanth15sp@gmail.com">
                    <img class="links" src="../../../assets/Images/Gmail.png" alt="Gmail Logo">
                </a>
            </div>

            <div class="tooltipped" data-position="right" data-tooltip="LinkedIn">
                <a href="https://www.linkedin.com/in/prasanthse1996/" target="_blank">
                    <img class="links" src="../../../assets/Images/LinkedIn.png" alt="LinkedIn Logo">
                </a>
            </div>

            <div class="tooltipped" data-position="right" data-tooltip="Github">
                <a href="https://github.com/prasanthse" target="_blank">
                    <img class="links" src="../../../assets/Images/Github.png" alt="Github Logo">
                </a>
            </div>

        </div>

        <div class="col-sm-9">
            <br>
            <h1 class="text-dark font-weight-bolder text-uppercase">Do you want to send me a message?</h1>
            <form id="Contacts" name="myContacts" novalidate="novalidate" #myContacts = "ngForm" (ngSubmit) = "sendMessage(myContacts)">
                <div class="formRow">
                    <i class="small material-icons formIcon">border_color</i>
                    <label class="text-info font-weight-bolder text-uppercase">Name<span>*</span></label>
                    <input type="text" name="name" id="name" placeholder="Type Your Name" class="text-dark font-weight-bolder text-uppercase" required #name="ngModel" [class.is-invalid]="name.touched && name.invalid" [(ngModel)]="contactInstance.name">
                    <div *ngIf="name.touched && name.invalid" class="text-danger text-uppercase font-weight-bold">
                        <small>Name is required</small>
                    </div>
                </div>

                <div class="formRow">
                    <i class="small material-icons formIcon">call</i>
                    <label class="text-info font-weight-bolder text-uppercase">Phone Number</label>
                    <input type="tel" name="tel" id="tel" placeholder="Type Your Phone Number" class="text-dark font-weight-bolder text-uppercase" #tel="ngModel" [(ngModel)]="contactInstance.phoneNumber">
                </div>

                <div class="formRow">
                    <i class="small material-icons formIcon">contact_mail</i>
                    <label class="text-info font-weight-bolder text-uppercase">Email Address<span>*</span></label>
                    <input type="email" name="email" id="email" placeholder="Type Your Email Address" class="text-dark font-weight-bolder" required #email="ngModel" [class.is-invalid]="email.touched && email.invalid" [(ngModel)]="contactInstance.email">
                    <div *ngIf="email.touched && email.invalid" class="text-danger text-uppercase font-weight-bold">
                        <small>Email is required</small>
                    </div>
                </div>

                <div class="formRow">
                    <i class="small material-icons formIcon">comment</i>
                    <label class="text-info font-weight-bolder text-uppercase">Message<span>*</span></label>
                    <textarea rows="50" cols="15" name="mes" id="mes" placeholder="Type Your Message" class="text-dark font-weight-bolder" required minlength="25" #mes="ngModel" [class.is-invalid]="mes.touched && mes.invalid" [(ngModel)]="contactInstance.message"></textarea>
                    <div *ngIf="(mes.touched && mes.invalid) || mes.minlength" class="text-danger text-uppercase font-weight-bold">
                        <small>Message is required & should be minimum 25 characters</small>
                    </div>
                </div>

                <div class="formRow buttonRow">
                    <button id="send" name="send" class="text-info font-weight-bolder text-uppercase" type="submit" [disabled] = "myContacts.form.invalid">Send Message</button>
                </div>

            </form>
            
        </div>

    </div>

</div>