<!-- <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->

<!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-sm-12">
      
      <img src="../../../assets/Images/Sidenav.jpg" class="img responsive-img banner" alt="cover Photo">

      <div class="title bg-success d-flex justify-content-center">
        <h1 class="text-light text-uppercase font-weight-bolder name">Sivakumar Prasanth</h1>
      </div>

      <img src="../../../assets/Images/Dp.jpg" class="img responsive-img profile rounded-circle" alt="profile photo">

    </div>
  </div>

  <div class="row bg-dark">
    <div class="col-sm-4">

    </div>

    <div class="col-sm-4">
      
    </div>

    <div class="col-sm-4">
      
    </div>
  </div>

  <div style="border: 2px dotted black">
    <p class="text-success text-uppercase font-weight-bolder text-justify">
      Highly dynamic and aspiring personality with leadership, supervision, administrative and interpersonal skills together with academic 
      achievement and social exposure towards public and corporate sector wish to continue the career as a software engineer in an 
      organization within a changing and challenging environment to benefit mutual growth and success.
    </p>
  </div>
<!-- </div> -->