<div id="slide-out" class="sidenav">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let prof of profile">
          <img src= "{{prof.dp}}" alt="Profile picture">
      </div>
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Sivakumar Prasanth</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h6 class="text-uppercase font-weight-bold">Male</h6>
      <hr class="bg-success"/>
      <h6 class="text-uppercase font-weight-bold">1996 / 03 / 15</h6>
      <hr class="bg-success"/>
      <h6 class="text-uppercase font-weight-bold"><a href="mailto:prasanth15sp@gmail.com">prasanth15sp@gmail.com</a></h6>
      <hr class="bg-success"/>
      <h6 class="text-uppercase font-weight-bold">Sri Lanka</h6>
      <hr class="bg-success"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <a href="https://www.facebook.com/profile.php?id=100005272362325" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="https://twitter.com/prasanth15sp" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="https://www.linkedin.com/in/prasanthse1996/" target="_blank"><i class="fa fa-linkedin"></i></a> 
    </div>
    <div class="col-sm-2">
      <a href="https://github.com/prasanthse" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="mailto:prasanth15sp@gmail.com"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="#contact"><i class="fa fa-envelope-o"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Education</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h6 class="text-uppercase font-weight-bold">B.Sc.in Software Engineering (Honors)</h6>
      <p class="text-uppercase font-weight-bold text-success">University of Kelaniya (2017-2021)</p>
      <hr class="bg-success"/>
      <h6 class="text-uppercase font-weight-bold">G.C.E A/L - 3B (Physical Science)</h6>
      <p class="text-uppercase font-weight-bold text-success">Ng/Wijayaratnam Hindu Central College</p>
      <hr class="bg-success"/>
      <h6 class="text-uppercase font-weight-bold">G.C.E O/L - 7As' 1B and 1S</h6>
      <p class="text-uppercase font-weight-bold text-success">Ng/Wijayaratnam Hindu Central College</p>
      <hr class="bg-success"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Working Experience</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let rate of workingExperience">
        <h6 class="text-uppercase font-weight-bold">{{rate.content}}</h6>
        <p class="text-uppercase font-weight-bold text-success">{{rate.subContent}}</p>
        <hr class="bg-success"/>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Languages</h4>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let rate of language">
        <h6 class="text-uppercase font-weight-bold">{{rate.content}}</h6>
        <p class="text-uppercase font-weight-bold text-success">{{rate.subContent}}</p>
        <hr class="bg-success"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Technical Skills</h4>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let rate of technicalSkill">
        <h6 class="text-uppercase font-weight-bold">{{rate.content}}</h6>
        <p class="text-uppercase font-weight-bold text-success">{{rate.subContent}}</p>
        <hr class="bg-success"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Special Achievements</h4>
      </div>
    </div>
  </div>
      
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let rate of specialAchievement">
        <h6 class="text-uppercase font-weight-bold">{{rate.content}}</h6>
        <p class="text-uppercase font-weight-bold text-success">{{rate.subContent}}</p>
        <hr class="bg-success"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Extra Carriculam Activity</h4>
      </div>
    </div>
  </div>
        
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let rate of extraActivity">
        <h6 class="text-uppercase font-weight-bold">{{rate.content}}</h6>
        <p class="text-uppercase font-weight-bold text-success">{{rate.subContent}}</p>
        <hr class="bg-success"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Certificate Cources</h4>
      </div>
    </div>
  </div>
        
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let rate of courses">
        <h6 class="text-uppercase font-weight-bold">{{rate.content}}</h6>
        <p class="text-uppercase font-weight-bold text-success">{{rate.subContent}}</p>
        <hr class="bg-success"/>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="text-uppercase font-weight-bolder text-success bg-dark name">
        <h4>Interests</h4>
      </div>
    </div>
  </div>
          
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let rate of interest">
        <h6 class="text-uppercase font-weight-bold">{{rate.content}}</h6>
        <hr class="bg-success"/>
      </div>
    </div>
  </div>

</div>