img{
    margin-top: 40px;
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name, h6, p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h6{
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 10px;
}

a:hover{
    color: green;
}

i:hover{
    font-size: 25px;
}

