<div class="container" id="home">    
        
        <img class="back" src="../../../assets/Images/HomeSlide01.jpg" alt="Banner">
        
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <h1 class="one text-dark col-sm-12 text-center" id="title-behind">Welcome</h1>
                    <h1 class="two text-dark col-sm-12 text-center" id="title-the">To my</h1>
                    <h1 class="three text-dark col-sm-12 text-center" id="title-lens">world</h1>
                    <h2 class="four text-danger col-sm-12 text-center" id="subtitle">portfolio</h2>
                </div>
            </div>
        </div>

</div>            