<!-- <div class="container-fluid" id="home"> -->
    <div class="row">
        <div class="col-sm-12">
            
            <img class="responsive-img" src="../../../assets/Images/HomeSlide01.jpg" alt="Banner">

            <div class="banner-text">
                <h1 class="one text-dark text-center" id="title-behind">Welcome</h1>
                <h1 class="two text-danger text-center" id="title-the">To my</h1>
                <h1 class="three text-dark text-center" id="title-lens">world</h1>
                <h2 class="four text-danger text-center" id="subtitle">portfolio</h2>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-end order">
        <a id="menu" class="btn-floating waves-effect waves-light bg-danger pulse" (click)="featureDiscovery()"><i class="material-icons">clear_all</i></a>
    </div>

    <div class="tap-target" data-target="menu">
        <div class="tap-target-content">
            <h5>Sivakumer Prasanth</h5>
            <p>A bunch of text</p>
        </div>
    </div>

<!-- </div> -->