<div class="container-fluid blue-bg">

  <div class="row">
    <div class="col-sm-12 title text-uppercase font-weight-bolder text-light titleContent">
      <h2>On my business card, I am a corporate president. In my mind, I am a computer programmer</h2>
    </div>
  </div>
  
  <div class="container">
    
    <!--first section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center bottom">
        <div class="circle pulse">1</div>
      </div>
      <div class="col-6">
        <h5 class="text-uppercase font-weight-bolder">Game Development</h5>
        <p>Are you interested in games? Do you like to play a mobile or a pc game that runs in your mind but not in your hand? Then it's time to
          <a href="#" class="text-uppercase font-weight-bolder text-danger"><span class="click">Click me!</span></a>
        </p>
      </div>
    </div>

    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>

    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-6 text-right">
        <h5 class="text-uppercase font-weight-bolder">Web Application Development</h5>
        <p>I can give you a web application which is adapative to new trends and, with mobile response. Are you ready? Then 
          <a href="#" class="text-uppercase font-weight-bolder text-danger"><span class="click">Click me!</span></a>
        </p>
      </div>
      <div class="col-2 text-center full">
        <div class="circle pulse">2</div>
      </div>
    </div>

    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>

    <!--third section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center full">
        <div class="circle pulse">3</div>
      </div>
      <div class="col-6">
        <h5 class="text-uppercase font-weight-bolder">Mobile Application Development</h5>
        <p>Someone says "your mobile application is better if it is support for android", Other party says "It's better to support for iOS". 
          Do you agree on the first opinion or second? What about third? Answers for those three questions already in your hand. So why are you 
          still late? <a href="#" class="text-uppercase font-weight-bolder text-danger"><span class="click">Click me!</span></a>
        </p>
      </div>
    </div>

    <!--path between 3-4-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
      <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>

    <!--fourth section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-6 text-right">
        <h5 class="text-uppercase font-weight-bolder">Desktop Application Development</h5>
        <p>Are you looking for me? I mean do you really wants a software for your shop or work place or for any other reasons?
          Come on...<a href="#" class="text-uppercase font-weight-bolder text-danger"><span class="click">Click me!</span></a>
        </p>
      </div>
      <div class="col-2 text-center full">
        <div class="circle pulse">4</div>
      </div>
    </div>

    <!--path between 4-5-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
      <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>

    <!--fifth section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center top">
        <div class="circle pulse">5</div>
      </div>
      <div class="col-6">
        <h5 class="text-uppercase font-weight-bolder">Graphic Designing</h5>
        <p>Ahh!! I want a T-shirt with these design; I want a logo like this; I need a banner. But how can i get them with low cost? 
          just <a href="#" class="text-uppercase font-weight-bolder text-danger"><span class="click">Click me!</span></a>
        </p>
      </div>
    </div>

  </div>
</div>