<nav class="navbar navbar-expand-sm fixed-top bg-dark" id="navigation">

  <div class="container">
    
    <button class="navbar-toggler navbar-toggler-right btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu <i class="fa fa-bars"></i>
    </button>

    <div class="myName tooltipped" data-position="bottom" data-tooltip="SOFTWARE ENGINEER"><h1>Prasanth</h1></div>

    <div class="collapse navbar-collapse" id="options">
      <ul class="navbar-nav text-uppercase ml-auto">
        
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">
            <button class="btn btn-outline-danger waves-effect waves-light">
              <strong><i class="fa fa-home"></i> HOME</strong>
            </button>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">
            <button class="btn btn-outline-success waves-effect waves-light">
              <strong><i class="fa fa-user"></i> PROFILE</strong>
            </button>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">
            <button class="btn btn-outline-warning waves-effect waves-light">
              <strong><i class="fa fa-product-hunt"></i> PROJECTS</strong>
            </button>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">
            <button class="btn btn-outline-info waves-effect waves-light">
              <strong><i class="fa fa-comments"></i> CONTACT</strong>
            </button>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger tooltipped" href="#" data-position="bottom" data-tooltip="To Make Orders">
            <button class="btn btn-outline-light waves-effect waves-light">
              <strong><i class="fa fa-users"></i> HIRE</strong>
            </button>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>