<div class="container-fluid position-fixed">
  <div class="row">

    <div class="col-sm-8 bg-dark float-right">
      www.THISISME.com
    </div>

    <div class="col-sm-4">
        <nav class="navbar navbar-expand-sm bg-dark float-right">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <button class="btn btn-outline-danger">
                    <strong>HOME</strong>
                  </button>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <button class="btn btn-outline-warning">
                    <strong>PROFILE</strong>
                  </button>
                </a>
              </li>

              <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link" href="#">
                        <button class="btn btn-outline-success">
                          <strong>PROJECTS</strong>
                        </button>
                        <div class="dropdown-content bg-dark">
                          <a class="dropdown-item" href="#"><strong class="text-success">ACADEMIC</strong></a>
                          <a class="dropdown-item" href="#"><strong class="text-success">NON-ACADEMIC</strong></a>
                        </div>
                    </a>
                </div>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <button class="btn btn-outline-info">
                    <strong>CONTACT</strong>
                  </button>
                </a>
              </li>

            </ul>
          </nav>
    </div>

  </div> 
</div>
