<div id="projectDetail" class="modal modal-xl popup">
    <!-- Modal Header -->
    <div class="title bg-warning">
      <h1 class="modal-title text-uppercase font-weight-bolder text-dark">Modal Heading</h1>
    </div>

    <hr/>

    <div class="row">
      <div class="col-sm-12">
            
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-12">
        
        <div class="row bg-dark content">
          <div class="col-sm-3 text-warning font-weight-bold text-uppercase">
            <h4>Category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</h4>
          </div>
          <div class="col-sm-9 text-light font-weight-bold">
            <h5>Academic</h5>
          </div>
        </div>

        <div class="row bg-dark content">
          <div class="col-sm-3 text-warning font-weight-bold text-uppercase">
            <h4>Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</h4>
          </div>
          <div class="col-sm-9 text-light font-weight-bold">
            <h5>Individual</h5>
          </div>
        </div>

        <div class="row bg-dark content">
          <div class="col-sm-3 text-warning font-weight-bold text-uppercase">
            <h4>Year &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</h4>
          </div>
          <div class="col-sm-9 text-light font-weight-bold">
            <h5>2019</h5>
          </div>
        </div>

        <div class="row bg-dark content">
          <div class="col-sm-3 text-warning font-weight-bold text-uppercase">
            <h4>Technologies :</h4>
          </div>
          <div class="col-sm-9 text-light font-weight-bold">
            <h5>Angular 6, Bootstrap, Materialize CSS, Java, Spring Boot, MongoDb</h5>
          </div>
        </div>

        <div class="row bg-dark content">
          <div class="col-sm-3 text-warning font-weight-bold text-uppercase">
            <h4>Brief Info &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</h4>
          </div>
          <div class="col-sm-9 text-light font-weight-bold">
            <h5>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </h5>
          </div>
        </div>
      </div>
    </div> 
     
    <hr/> 
</div>
