<div id="projectDetail" class="modal modal-xl popup">
    <!-- Modal Header -->
    <div class="title bg-warning">
      <h1 class="modal-title text-uppercase font-weight-bolder text-dark">{{projectInfo.title}}</h1>
    </div>

    <hr/>

    <div class="wrapper">
        <input checked type=radio name={{projectInfo.gallery[0]}} id="slide1" />
        <input type=radio name={{projectInfo.gallery[1]}} id="slide2" />
        <input type=radio name={{projectInfo.gallery[2]}} id="slide3" />
        <input type=radio name={{projectInfo.gallery[3]}} id="slide4" />
        <input type=radio name={{projectInfo.gallery[4]}} id="slide5" />
      
        <div class="slider-wrapper">
          <div class="inner" *ngFor = "let frame of projectInfo.gallery">
            <article>
              <img src= {{frame}} />
            </article>
          </div>
        </div>
      
        <div class="slider-prev-next-control">
          <label for=slide1></label>
          <label for=slide2></label>
          <label for=slide3></label>
          <label for=slide4></label>
          <label for=slide5></label>
        </div>
        <!-- .slider-prev-next-control -->
    
    </div>

    <hr/>

    <div class="contentPadding">
      <hr class="bg-warning"/>
      <div class="row">
        <div class="col-sm-3 font-weight-bold text-uppercase sideTitle">
          <h4>Category</h4>
        </div>
        <div class="col-sm-9 text-dark font-weight-bold">
          <h5>{{projectInfo.category}}</h5>
        </div>
      </div>
      <hr class="bg-warning"/>
    </div>

    <div class="bg-warning contentPadding">
      <div class="row">
        <div class="col-sm-3 font-weight-bold text-uppercase sideTitle">
          <h4>Type</h4>
        </div>
        <div class="col-sm-9 text-dark font-weight-bold">
          <h5>{{projectInfo.type}}</h5>
        </div>
      </div>
    </div>

    <div class="contentPadding">
      <hr class="bg-warning"/>
      <div class="row">
        <div class="col-sm-3 font-weight-bold text-uppercase sideTitle">
          <h4>Year</h4>
        </div>
        <div class="col-sm-9 text-dark font-weight-bold">
          <h5>{{projectInfo.year}}</h5>
        </div>
      </div>
      <hr class="bg-warning"/>
    </div>

    <div class="bg-warning contentPadding">
      <div class="row">
        <div class="col-sm-3 font-weight-bold text-uppercase sideTitle">
          <h4>Technologies</h4>
        </div>
        <div class="col-sm-9 text-dark font-weight-bold">
          <h5>{{projectInfo.technologies}}</h5>
        </div>
      </div>
    </div>

    <div class="contentPadding">
      <hr class="bg-warning"/>
      <div class="row">
        <div class="col-sm-3 font-weight-bold text-uppercase sideTitle">
          <h4>Brief Info</h4>
        </div>
        <div class="col-sm-9 text-dark font-weight-bold">
          <h5>{{projectInfo.explain}}</h5>
        </div>
      </div>
      <hr class="bg-warning"/>
    </div>

    <hr/> 
</div>
