<nb-card size="large">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Orders">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>

        <article>

          <div *ngFor = "let order of orderDetails">
              <hr class="bg-primary">
          
              <div class="row">
                <div class="col-sm-4 d-flex justify-content-center bg-danger">
                    <h6>Project: {{order.project}}</h6>
                </div>
                <div class="col-sm-4 d-flex justify-content-center bg-success">
                    <h6>Platform: {{order.platform}}</h6>
                </div>
                <div class="col-sm-4 d-flex justify-content-center bg-primary">
                    <h6>Client: {{order.client}}</h6>
                </div>
              </div>
              
              <br>
            
              <p class="bg-light">{{order.brief}}</p>

              <p class="bg-light d-flex justify-content-end"><i><b>{{order.date}}</b></i><p>
              <button type="button" id="delete" class="btn-primary" (click) = "deleteOrderDetail(order.id)">Delete</button> 
          </div>
  
          </article>

      </div>
    </nb-tab>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>

        <article>
  
            <hr class="bg-success">
          
            <div class="row">
              <div class="col-sm-4 d-flex justify-content-center bg-danger">
                  <h6>Project Type</h6>
              </div>
              <div class="col-sm-4 d-flex justify-content-center bg-success">
                  <h6>Platform</h6>
              </div>
              <div class="col-sm-4 d-flex justify-content-center bg-primary">
                  <h6>Profit</h6>
              </div>
            </div>

            <div *ngFor = "let order of orderDetails">
              <div class="row">
                <div class="col-sm-4 d-flex justify-content-center bg-light">
                  <h6>{{order.project}}</h6>
                </div>
                <div class="col-sm-4 d-flex justify-content-center bg-light">
                  <h6>{{order.platform}}</h6>
                </div>
                <div class="col-sm-4 d-flex justify-content-center bg-light">
                  <h6>${{order.profit}}</h6>
                </div>
              </div>
            </div>

          </article>

          <br>
          <hr>

          <div class="row bg-warning">
            <div class="col-sm-12 d-flex justify-content-center">
              <h5>Total Profit: ${{chartPanelSummary.totalProfit}}</h5>
            </div>
          </div>
          
          <hr>

      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
