<div class="container-fluid">
  <div class="row bg-dark containerPos">
    
    <div class="col-md-3">
      <h5 class="text-light font-weight-bold text-uppercase">Portfolio-Prasanth&copy;2019</h5>
    </div>

    <div class="col-sm-7"></div>

    <div class="col-md-2 icons">
        <a href="https://www.facebook.com/profile.php?id=100005272362325" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/prasanth15sp" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/prasanthse1996/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/prasanthse" target="_blank"><i class="fa fa-github"></i></a>
        <a href="mailto:prasanth15sp@gmail.com"><i class="fa fa-google-plus"></i></a>
				<a href="#contact"><i class="fa fa-envelope-o"></i></a>
    </div>

  </div>
</div>
