<div class="container-fluid" id="projects">
  
  <div class="row">
    <div class="col-lg-12 text-dark font-weight-bolder text-uppercase text-center bg-warning">
      <h1>Every project has challenges, and every project has its rewards</h1>
    </div>
  </div>

  <div class="row">
    <div *ngFor = "let frame of myProjects | paginate: { itemsPerPage: 8, currentPage: p }">
      <div class="col-sm-12">
        <div class="tile-wrap">
          <a href="" data-target="projectDetail" class="modal-trigger" (click) = "parseId(frame)">
            <img src= {{frame.id}} alt="Project Image" class="tile-image"/>
            <div class="tile-text">
              <h2 class="tile-title">{{frame.title}}</h2>
              <p class="tile-description">{{frame.brief}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-12 font-weight-bolder text-uppercase text-center bg-warning">
        <pagination-controls class="my-pagination" (click) = "navigateToTop()" (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>

</div>


