<app-header></app-header>

<div class="section white">  
  <app-home></app-home>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="../../../assets/Images/HomeSlide03.jpg" class="responsive-img">
  </div>
</div>

<div class="section white">
  <app-projects></app-projects>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="../../../assets/Images/HomeSlide04.jpg" class="responsive-img">
  </div>
</div>

<div class="section white">
  <app-contact></app-contact>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="../../../assets/Images/HomeSlide02.jpg" class="responsive-img">
  </div>
</div>

<!-- 
<div class="section white">
  <div class="row container">
    <h1>contactus</h1>
  </div>
</div> 

<app-side-nav></app-side-nav>
-->

