<div class="parallax-container">
  <div class="parallax">
    <app-home></app-home>
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h1>profile</h1>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="../../../assets/Images/HomeSlide02.jpg" class="responsive-img">
  </div>
</div>

<div class="section white">
    <div class="row container">
      <h1>projects</h1>
    </div>
</div>

<div class="section white">
    <div class="row container">
        <img src="../../../assets/Images/HomeSlide03.jpg">
    </div>
</div>

<div class="section white">
    <div class="row container">
      <h1>contactus</h1>
    </div>
</div>

