<div class="infinite-cards row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header class="bg-danger">
        <div class="row">
          <div class="col-sm-10">
            INBOX
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn-light d-flex justify-content-end" id="deleteAll" style="padding: 5px; border:none;" (click) = "DeleteAll()">Delete All</button>
          </div>
        </div>
      </nb-card-header>
      <nb-list
        nbInfiniteList
        listenWindowScroll
        [threshold]="500"
        (bottomThreshold)="loadNext(secondCard)">
        <nb-list-item *ngFor="let newsPost of secondCard.news">
          <ngx-news-post [post]="newsPost"></ngx-news-post>
        </nb-list-item>
        <nb-list-item *ngFor="let _ of secondCard.placeholders">
          <ngx-news-post-placeholder></ngx-news-post-placeholder>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
