<div class="infinite-cards row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header class="bg-danger">INBOX</nb-card-header>
      <nb-list
        nbInfiniteList
        listenWindowScroll
        [threshold]="500"
        (bottomThreshold)="loadNext(secondCard)">
        <nb-list-item *ngFor="let newsPost of secondCard.news">
          <ngx-news-post [post]="newsPost"></ngx-news-post>
        </nb-list-item>
        <nb-list-item *ngFor="let _ of secondCard.placeholders">
          <ngx-news-post-placeholder></ngx-news-post-placeholder>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
