<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header class="bg-primary">ADD PROFILE BODY INFORMATION</nb-card-header>
      <nb-card-body>
        <form id= "profileBody" name="profileBody">
          <div class="form-group row">
            <label class="col-sm-3 label">Type</label>
            <div class="col-sm-9">
              <nb-radio-group>
                <nb-radio>Working Experience</nb-radio>
                <nb-radio>Language</nb-radio>
                <nb-radio>Technical Skill</nb-radio>
                <nb-radio>Special Achievement</nb-radio>
                <nb-radio>Extra Carriculum</nb-radio>
                <nb-radio>Certificate Cources</nb-radio>
                <nb-radio>Interests</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Content</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="profContent" name="profContent" placeholder="Type your title content" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Sub Content</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="profSubcontent" name="profSubcontent" placeholder="Type your sub title content" required>
            </div>
          </div>
          <button type="button" nbButton status="primary" (click) = "uploadProfileBody()">Upload</button>
        </form>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header class="bg-success">ADD PROFILE PICTURE</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label class="col-sm-6 label">Select your profile photo</label>
            <div class="col-sm-6">
              <input type="file" (change)="FileSelected($event)">
            </div>
          </div>
          <button type="submit" nbButton status="success" (click)="upload()">Upload</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header class="bg-danger">ADD PROJECT INFORMATION</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label class="col-sm-3 label">Title</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="projTitle" placeholder="Type your project title">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Brief</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth placeholder="Brief information"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Gallery</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-4">
                  <input type="file" (change)="GalleryFileSelected($event, 0)">
                </div>
                <div class="col-sm-4">
                  <input type="file" (change)="GalleryFileSelected($event, 1)">
                </div>
                <div class="col-sm-4">
                  <input type="file" (change)="GalleryFileSelected($event, 2)">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <input type="file" (change)="GalleryFileSelected($event, 3)">
                </div>
                <div class="col-sm-4">
                  <input type="file" (change)="GalleryFileSelected($event, 4)">
                </div>
                <div class="col-sm-4"></div>
              </div>   
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Category</label>
            <div class="col-sm-9">
              <nb-radio-group>
                <nb-radio>Academic</nb-radio>
                <nb-radio>Non-Academic</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Type</label>
            <div class="col-sm-9">
              <nb-radio-group>
                <nb-radio>Individual</nb-radio>
                <nb-radio>Group</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Year</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="projYear" placeholder="Type project happened year">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Technologies</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth placeholder="Technologies used"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Explain</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth placeholder="Explain the project"></textarea>
            </div>
          </div>
          <button type="submit" nbButton status="danger">Upload</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

